* {
    font-family: monospace;
}

img {
    max-height: 120px;
    max-width: 120px;
}

header {
    display: flex
}

nav {
    margin: 5px 2px;
}

#descr {
    margin: 10px
}


#ctt_nmem {
    margin: 4px;
}