* {
    font-family: monospace;
    font-size: 20px;
  
    
}

body {
  background-color: #1E1E1E;
    color: #9e9e9e;  
}

img {
    max-height: 90px;
    max-width: 100px;
    display: block;
    
   
}

header {
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    
    
}



nav {
    /*margin: px 1px;*/
    background-color: #1B1B1B;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: left ;
    align-items: last baseline;  
}

#descr {
    margin: 5px;
    text-align: right;
    
}

#descr > h3, h1 {
    margin: 5px;
}

#containerup {
    display: flex;
    position: relative;
    height: 80vh;
    
}

article > h2 {
    margin: 15px;
    font-size: 22pt;
}
.projectdiv {
    border: 1px solid rgb(61, 61, 61);
    border-radius: 4px;
    padding: 8px;
    margin: 10px;


  
}

/*.projetosdiv {
    display: grid;
}


#container {
    display: grid;
    place-items: center;
    height: 100vh;
}*/


#consolediv {
    background-color: black;
    width: 700px;
    height: 490px;
    display: flex;
    flex-direction: column;
 
  
}

nav > span {
    background-color: #2B2B2B;
    padding: 5px;
    border-radius: 10px 10px 0 0; 
    margin: 0px 0.5px;
    cursor: pointer;
    
    
}

nav > span:hover {
    background-color: #0a0a0a73;
}

#homespan {
    margin-left: 5px;
    background-color: black;
}

#homespan > a {
    color: #9e9e9e
}

a {
    color: white;
    text-decoration: none;
}

#consolecontent {
    padding: 8px;
    flex: 1; /* ocupa o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: center;

}



section > p > a:hover {
   text-decoration: underline;
   color: #8a8989;;

}

/*inputs da tela de contato*/

#ctt_nmem {
    margin: 4px;
}


input, textarea {
    background-color: #00000000;
    border-radius: 5px;
    color: white;
    border: 2px solid #2B2B2B;
}

textarea {
    margin: 5px auto;
    resize: none;
}

#ctt_msg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#h2contato {
    text-align: center;
    font-size: 18pt;
    margin: 0 0 15px 0;
}


#ctt_msg > label {
display: block;
text-align: center;
margin-bottom: 5px;
}

/*#container {
    margin: auto;
}*/

#iconsdiv {
    text-align: center;
}
#iconsdiv > i {
    font-size: 50px;
}

#jsicon {
    color: #F0DB4F;
}
#htmlicon {
    color: #E34C26
}
#cssicon {
    color: #214ce5;
}
#javaicon {
    color: #5283a2
}
#databaseicon {
    color: #00758f
}
#nodeicon {
    color: #539e43
}
#pythonicon {
    color: #3475a9
}

/*media queries*/

@media (max-width: 690px) {
    
    #ctt_nmem > input, label {
        display: block;
        margin: 10px auto;
    }
    #ctt_nmem > label {
        text-align: center;
    }

    #descr {
        display: block;
        text-align: left;
        
    }
    #descr > img {
        display: block;
    }
    #containerup {
        display: block;
    }
    header {
        display: flex;
        flex-direction: row;
        margin: auto;
        
        
        
    }
    article {
        display: block;
    }
}

#lista {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
